models/schema_datenbank.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Nov 13 2019 13:56:22 GMT+0100 (Mitteleuropäische Normalzeit) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="autohaus">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="auto" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="fahrzeugdaten">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="preis">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="wert" type="xs:int"></xs:element>
                                                                                 <xs:element name="einheit" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="kmstand">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="wert" type="xs:int"></xs:element>
                                                                                 <xs:element name="einheit" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="leistung">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="wert" type="xs:int"></xs:element>
                                                                                 <xs:element name="einheit" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="zulassungsbescheinigung">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="herstellerschluesselnummer" type="xs:int">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="typschluesselnummer" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="egklassifikation" type="xs:int">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="schluesselnummer1" type="xs:int">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="marke" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="typ" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="modell" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="hersteller" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="fahrzeugklasse" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="schadstoffklasse" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="nationaleemissionsklasse" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:int"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="kraftstoffart" type="xs:string">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="baujahr" type="xs:int">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="bezeichnung" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="emissionsdaten">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="nefz">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="vebrauch">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="innerorts">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="wert" type="xs:double"></xs:element>
                                                                                                                     <xs:element name="einheit" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="außerorts">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="wert" type="xs:double"></xs:element>
                                                                                                                     <xs:element name="einheit" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="kombiniert">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="wert" type="xs:double"></xs:element>
                                                                                                                     <xs:element name="einheit" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="co2_emission_kombi">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="wert" type="xs:int"></xs:element>
                                                                                                   <xs:element name="einheit" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="wltp">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="sehr_schnell">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="wert" type="xs:double"></xs:element>
                                                                                                   <xs:element name="einheit" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="schnell">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="wert" type="xs:double"></xs:element>
                                                                                                   <xs:element name="einheit" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="langsam">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="wert" type="xs:double"></xs:element>
                                                                                                   <xs:element name="einheit" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="co2_emission_kombi">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="wert" type="xs:int"></xs:element>
                                                                                                   <xs:element name="einheit" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="id" type="xs:int"></xs:attribute>
                                       <xs:attribute name="name" type="xs:string"></xs:attribute>
                                       <xs:attribute name="baureihe" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="xmlns" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns:xsi" type="xs:string"></xs:attribute>
                     <xs:attribute name="xsi:schemaLocation" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>

